python-dotenv==1.0.1
streamlit==1.45.1
requests==2.32.3
beautifulsoup4==4.12.3
unstructured==0.16.23
langchain-chroma==0.2.4
chromadb==1.0.9
langchain-groq==0.3.2
langchain-community==0.3.24
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.8
sentence-transformers==3.4.1
